* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.game {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
