* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", cursive;
}

canvas {
    font-smooth: never;
    -webkit-font-smoothing: none;
}

@font-face {
    font-family: "undertalefont";
    src: url("bitops.ttf");
    font-style: normal;
    -webkit-font-smoothing: none;
}

.game {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
